#gameScreen{
    border: none;
    margin: 0;
    padding: 0;
}


#body{
    margin: 0;
    overflow: auto;

}

/* ///////////////////////////////// */
/* styling for pages before experiment */
#instructionsWrapper {
  padding-right: 40px;
  padding-left: 40px;
  /* margin-right: auto;
  margin-left: auto; */

  /* position: absolute; */
  height: 100%;
  overflow: auto;

  width: 50%;
  min-width: 600px; /* Will be AT LEAST 20em wide */
  margin: 0 auto;

  font-family: arial;
  font-size: 15px;

}
.mdl-card__actions{
    text-align: left;
    padding-left: 40px;
}
.informedConsent{
    padding-right: 40px;
    padding-left: 40px;
    /* margin-right: auto;
    margin-left: auto; */

    /* position: absolute; */
    height: 100%;
    overflow: auto;

    width: 50%;
    min-width: 600px; /* Will be AT LEAST 20em wide */
    margin: 0 auto;

    font-family: arial;
    font-size: 15px;

    // text-align: left;
}
.demographicsDiv{
    padding-right: 40px;
    padding-left: 40px;
    /* margin-right: auto;
    margin-left: auto; */

    /* position: absolute; */
    height: 100%;
    overflow: auto;

    width: 50%;
    min-width: 600px; /* Will be AT LEAST 20em wide */
    margin: 0 auto;


    font-family: arial;
    font-size: 15px;
}
.endPage{
    padding-right: 40px;
    padding-left: 40px;
    /* margin-right: auto;
    margin-left: auto; */

    /* position: absolute; */
    height: 100%;
    overflow: auto;


    font-family: arial;
    font-size: 15px;
}
/* #imgDiv{
    float: right;
    text-align: right;
} */
.tutorialElement{

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

/* ////////////////////////////// */

.tutorialWrapper{
    text-align: center;

    font-family: arial;
    font-size: 15px;
    font-weight: bold;

    padding-right: 15px;
    padding-left: 15px;
}

/* .tutorialHeader{
    text-align: center;
} */
/* Styling for experiment elements */
.submitButton{
    border: none;
    background-color: rgb(255, 69, 69);
    color: rgb(247, 247, 247);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: Georgia, serif;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute;
    box-shadow: 0 9px #999;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}
.submitButton:hover {


    background-color: #FFC107;

    color: rgb(40, 35, 61);
}

.submitButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(15px);
    font-weight: bold;
}

.instructionsButton{
    padding: 0.2% 0.5%;
    font-family: Georgia, serif;
    font-size: 15px;
}
.tutorialButton{
    padding: 0.2% 0.5%;
    font-family: Georgia, serif;
    font-size: 15px;
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.startGameBtn{
    border: none;
    background-color: rgb(166, 167, 171);
    /* color: rgb(32, 32, 32); */
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    /* font-family: Georgia, serif; */
    font-weight: bold;
    padding: 2% 4%;
    position: absolute;
    top: 30%;

}

.startGameBtn:hover{

    background-color: rgb(120, 120, 120);

}

.fullscreenBtn{
    border: none;
    background-color: rgb(125, 164, 185);
    color: rgb(32, 32, 32);
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 1% 7%;
    position: absolute;
    top: 50%;

}

.fullscreenBtn:hover{
    background-color: rgb(90, 122, 139);
}

/* .fullscreenWarning{

    font-size: 30px;
    font-family: Georgia, serif;
    font-weight: bold;
    display: none;
    color: rgb(247, 88, 80);
    margin-top: 1%;

} */



.xSlider{

    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 70%;
    left: 250px;
    width: 40%;
    height: 100px;

    height: 25px;
    background: green;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;

}


.xSlider:hover {
    opacity: 1;
}

.xSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000000;

}

.xSlider::-moz-range-thumb{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000000;

}


.ySlider{

    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 90%;
    left: 250px;
    width: 40%;
    height: 100px;

    height: 25px;
    background: green;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.ySlider:hover {
    opacity: 1;
}

.ySlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000000;

}

.ySlider::-moz-range-thumb{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000000;

}
